.main-container {
  background: #082847 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
}

.translucent-background {
  background-color: rgba(5, 20, 40, 0.8) !important;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.letter-space-1 {
  letter-spacing: 1px !important;
}

.font-size-small {
  font-size: 0.8rem;
}

.heading-font {
  font: 60px Orbitron !important;
  font-weight: 1000;
}
/* NavBar: START */

.navbar {
  height: 80px;
  background: #05172b 0% 0% no-repeat padding-box;
  opacity: 1;
  backdrop-filter: blur(39px);
  -webkit-backdrop-filter: blur(39px);
}

.navbar-nav .nav-item .btn-secondary {
  background-color: #1dcef2;
  border-radius: 4px;
  border: none;
  width: 118px;
  height: 40px;
}

.navbar-nav .nav-item .btn-secondary:hover {
  background: transparent linear-gradient(111deg, #1dcef2 0%, #8655e9 100%) 0%
    0% no-repeat padding-box;
}

@media (min-width: 992px) {
  .navbar-nav .nav-item .btn-secondary {
    width: 118px;
  }
}

.nav-link {
  font-family: 'Exo 2', sans-serif !important;
  color: #ffffff;
}

.active .nav-link {
  color: #0056b3 !important;
}

.navbar-toggler {
  outline: none !important;
  border: none !important;
}

@media (max-width: 992px) {
  .responsive-height-100 {
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    padding-top: 120px;
    top: 80px;
    left: 0px;

    background-color: rgba(5, 20, 40, 0.8) !important;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
  }

  .responsive-height-100 li {
    margin: 0 4px;
  }

  .responsive-margin {
    margin: auto;
  }
}

.navbar-toggler div {
  background: linear-gradient(78.92deg, #1dcef2 0%, #8655e9 100%);
  width: 20px;
  height: 5px;
  margin: 5px 0;
  transition: 0.25s ease-out;
}

button.navbar-toggler:not(.collapsed) div:nth-child(1) {
  transform: rotate(-45deg);
  position: absolute;
  top: 4px;
}

button.navbar-toggler:not(.collapsed) div:nth-child(2) {
  transform: rotate(45deg);
}

.navbar-brand img {
  width: 159px;
  height: 40px;
}

@media (min-width: 300px) and (max-width: 992px) {
  .navbar-brand-centered {
    position: absolute;
    left: 80%;
    top: 80px;
    animation-name: navbar-brand-centering;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 500;
  }
}

/* NavBar: END */

/* Body: START */

.body-container {
  position: relative;
  top: -80px;
}

.chevron-1 {
  width: 302px;
  height: 508px;
  position: absolute;
  transform: rotate(90deg);
  top: -230px;
  left: -75px;
}

.chevron-2 {
  width: 692px;
  height: 1380px;
  position: absolute;
  transform: rotate(-90deg);
  right: -172px;
  top: 260px;
}

@media (max-width: 992px) {
  .chevron-1 {
    display: none;
  }
}

.body-container .content {
  position: relative;
  top: 80px;
}

.body-container .content .heading {
  margin-top: 160px;
}

@media (max-width: 992px) {
  .body-container .content .heading {
    font-size: 25px !important;
  }
}

.body-container .content .heading .text-center div:nth-child(3) {
  color: #1dcef2;
}

.timeline .timeline-top {
  position: relative;
  border-right: 3px solid #36536c;
  height: 80px;
  border-bottom: 3px solid #36536c;
}

.timeline-top .circle {
  border: 3px solid #36536c;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  position: absolute;
  top: -28px;
  right: -15px;
}

.timeline-main {
  border-left: 3px solid #36536c;
  height: 2000px;
}

.section-title {
  position: relative;
  margin-left: 75px !important;
}

.section-title .icon {
  position: absolute;
  top: -8px;
  left: -115px;
  background-color: #082847;
  padding: 1rem 0 !important;
}

.section-container .section-detail {
  position: relative;
  top: 100px;
}

.section-detail .diversion-timeline-start {
  position: absolute;
  border-top: 3px solid #36536c;
  top: 8px;
  left: -6px;
  width: 96px;
  -webkit-transform: translateY(-41px) translateX(-10px) rotate(45deg);
  transform: translateY(-41px) translateX(-10px) rotate(45deg);
}

.section-detail .diversion-timeline-end {
  position: absolute;
  border-top: 3px solid #36536c;
  bottom: -33px;
  left: -15px;
  width: 96px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.section-detail .section-content {
  margin-left: 65px;
  border-left: 3px solid #36536c;
  padding-top: 50px;
}

@media (max-width: 992px) {
  .section-detail .section-content {
    margin-left: 0px;
    border-left: none;
  }

  .diversion-timeline-start, .diversion-timeline-end {
    display: none;
  }
}

.content-detail .text-content {
  position: relative;
}

.text-content .circle {
  border: 3px solid #36536c;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -15px;
  background-color: #082847;
}

.content-detail .img-container {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  opacity: 1;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  width: fit-content;
}

.img-container img {
  max-width: 400px;
  max-height: 400px;
}

@media (max-width: 992px) {
  .content-detail .img-container {
    background: none;
    border-radius: 0;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }

  .img-container img {
    position: relative;
    left: -55px;
  }
}

/* Body: END */

/* Footer: START */
footer {
  background: #05172b 0% 0% no-repeat padding-box;
  backdrop-filter: blur(39px);
  -webkit-backdrop-filter: blur(39px);
}

footer div.page-links div:not(.contacts) a {
  text-decoration: none;
}

footer .footer-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

@media (max-width: 992px) {
  .mt-lg-4 {
    margin-top: 2rem !important;
  }

  .responsive-margin-right {
    margin-right: 6rem !important;
  }
}

footer .footer-bottom {
  font-size: 14px;
  background-color: #020d1a;
}

footer .footer-bottom .container .col {
  padding-right: 15px;
  padding-left: 15px;
}
/* Footer: END */