.main-container {
  background: #082847 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
}

.font-weight-900 {
  font-weight: 900 !important;
}

.font-family-orbitron {
  font-family: Orbitron !important;
}

.translucent-background {
  background-color: rgba(5, 20, 40, 0.8) !important;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.letter-space-1 {
  letter-spacing: 1px !important;
}

.font-size-small {
  font-size: 0.8rem;
}

.heading-font {
  font-size: 60px !important;
  font-family: Orbitron;
}

@media (max-width: 992px) {
  .heading-font {
    font-size: 25px !important;
  }
}
/* NavBar: START */

.navbar {
  height: 80px;
  background: #05172b 0% 0% no-repeat padding-box;
  opacity: 1;
  backdrop-filter: blur(39px);
  -webkit-backdrop-filter: blur(39px);
}

.navbar-nav .nav-item .btn-secondary {
  background-color: #1dcef2;
  border-radius: 4px;
  border: none;
  width: 118px;
  height: 40px;
}

.navbar-nav .nav-item .btn-secondary:hover {
  background: transparent linear-gradient(111deg, #1dcef2 0%, #8655e9 100%) 0%
    0% no-repeat padding-box;
}

@media (min-width: 992px) {
  .navbar-nav .nav-item .btn-secondary {
    width: 118px;
  }
}

.nav-link {
  font-family: 'Exo 2', sans-serif !important;
  color: #ffffff;
}

.nav-link:hover {
  font-weight: bold;
}

.active .nav-link {
  color: #0056b3 !important;
  font-weight: bold;
}

.navbar-toggler {
  outline: none !important;
  border: none !important;
}

@media (max-width: 992px) {
  .responsive-height-100 {
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    padding-top: 120px;
    top: 80px;
    left: 0px;

    background-color: rgba(5, 20, 40, 0.8) !important;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
  }

  .responsive-height-100 li {
    margin: 0 4px;
  }

  .responsive-margin {
    margin: auto;
  }
}

.navbar-toggler div {
  background: linear-gradient(78.92deg, #1dcef2 0%, #8655e9 100%);
  width: 20px;
  height: 5px;
  margin: 5px 0;
  transition: 0.25s ease-out;
}

button.navbar-toggler:not(.collapsed) div:nth-child(1) {
  transform: rotate(-45deg);
  position: absolute;
  top: 4px;
}

button.navbar-toggler:not(.collapsed) div:nth-child(2) {
  transform: rotate(45deg);
}

.navbar-brand img {
  width: 159px;
  height: 40px;
}

@media (min-width: 300px) and (max-width: 992px) {
  .navbar-brand-centered {
    position: absolute;
    left: 80%;
    top: 80px;
    animation-name: navbar-brand-centering;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 500;
  }
}

/* NavBar: END */

/* Body: START */

.body-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 300px;
}

@media (max-width: 992px) {
  .body-container {
    padding-bottom: 400px !important;
    padding-left: 21px !important;
  }
}

.chevron-1 {
  width: 302px;
  height: 508px;
  position: absolute;
  transform: rotate(90deg);
  top: -152px;
  left: -75px;
}

.chevron-2 {
  width: 692px;
  height: 1380px;
  position: absolute;
  transform: rotate(-90deg);
  right: -172px;
  top: 510px;
}

.chevron-3 {
  width: 1712px;
  height: 999px;
  position: absolute;
  transform: rotate(-90deg);
  right: -506px;
  top: 3007px;
}

.chevron-4 {
  top: 5058px;
  left: -236px;
  height: 413px;
  width: 826px;
  transform: rotate(90deg);
  position: absolute;
}

@media (max-width: 992px) {
  .chevron-1,
  .chevron-3 {
    display: none;
  }

  .chevron-2 {
    top: -536px;
  }

  .chevron-4 {
    top: 5501px;
    width: 679px;
    left: -211px;
  }
}

.body-container .content {
  position: relative;
}

.body-container .content .heading {
  margin-top: 160px;
}

@media (max-width: 992px) {
  .body-container .content .heading {
    font-size: 25px !important;
  }
}

.body-container .content .heading .text-center div:nth-child(3) {
  color: #1dcef2;
}

.timeline .timeline-top {
  position: relative;
  border-right: 3px solid #36536c;
  height: 80px;
  border-bottom: 3px solid #36536c;
}

.timeline .timeline-bottom {
  position: relative;
  border-right: 3px solid #36536c;
  height: 80px;
  border-top: 3px solid #36536c;
  bottom: 3px;
}

.timeline-top .circle {
  border: 3px solid #36536c;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  position: absolute;
  top: -28px;
  right: -15px;
}

.timeline-bottom .circle {
  border: 3px solid #36536c;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  position: absolute;
  bottom: -28px;
  right: -15px;
}

.timeline-main {
  border-left: 3px solid #36536c;
  padding-bottom: 200px !important;
}

.section-title {
  position: relative;
  margin-left: 75px !important;
}

.section-title .icon {
  position: absolute;
  top: -8px;
  left: -115px;
  background-color: #082847;
  padding: 1rem 0 !important;
}

@media (max-width: 992px) {
  .section-title {
    margin-left: 35px !important;
  }

  .section-title .icon {
    height: 62px;
    width: 69px;
    left: -71px;
  }

  .section-title .heading-font {
    margin: 0;
    padding-top: 8px;
  }
}

.section-container .section-detail {
  position: relative;
  margin-top: 150px;
}

.section-detail .diversion-timeline-start {
  position: absolute;
  border-top: 3px solid #36536c;
  top: 8px;
  left: -6px;
  width: 96px;
  -webkit-transform: translateY(-41px) translateX(-10px) rotate(45deg);
  transform: translateY(-41px) translateX(-10px) rotate(45deg);
}

.section-detail .diversion-timeline-end {
  position: absolute;
  border-top: 3px solid #36536c;
  bottom: -33px;
  left: -15px;
  width: 96px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.section-detail .section-content {
  margin-left: 65px;
  border-left: 3px solid #36536c;
  padding-top: 50px;
}

@media (max-width: 992px) {
  .section-detail .section-content {
    margin-left: 0px;
    border-left: none;
  }

  .diversion-timeline-start,
  .diversion-timeline-end {
    display: none;
  }
}

.content-detail .text-content {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@media (max-width: 992px) {
  .content-detail .text-content {
    font-size: 14px !important;
  }
}

.text-content .circle {
  border: 3px solid #36536c;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -15px;
  background-color: #082847;
}

.content-detail .img-container {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  opacity: 1;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  width: fit-content;
  padding: 25px;
}

.img-container img {
  max-width: 400px;
  max-height: 400px;
}

@media (max-width: 992px) {
  .content-detail .img-container {
    background: none;
    border-radius: 0;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }

  .img-container img {
    position: relative;
    left: -75px;
  }
}

@media (max-width: 576px) {
  .img-container img {
    max-width: 350px;
    max-height: 350px;
  }
}

.founder-section .founder-container {
  position: relative;
}

.founder-container .founder-tag {
  position: absolute;
  background: #f1fdff 0% 0% no-repeat padding-box;
  bottom: -34px;
  right: 0px;
  color: #082847;
  font-size: 25px;
  line-height: 69px;
  padding-left: 77px;
  padding-right: 46px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 99%);
}

.founder-container .bio-tag {
  position: absolute;
  background: #1dcef2 0% 0% no-repeat padding-box;
  line-height: 71px;
  font-size: 25px;
  top: -36px;
  clip-path: polygon(0 0, 100% 0, 81% 100%, 0 100%);
  padding-right: 63px;
  padding-left: 25px;
}

.founder-container .founder-top {
  background: transparent linear-gradient(284deg, #8655e9 0%, #1dcef2 100%) 0%
    0% no-repeat padding-box;
  height: 150px;
  font: 40px Orbitron !important;
  font-weight: 900;
  position: relative;
}

.founder-container .founder-image img {
  object-fit: contain;
}

.founder-container .founder-bottom {
  background-color: #05172b;
  position: relative;
}

.founder-container .founder-bottom .bottom-social-links {
  background: transparent linear-gradient(84deg, #8655e9 0%, #1dcef2 100%) 0% 0%
    no-repeat padding-box;
  line-height: 64px;
}

@media (max-width: 992px) {
  .founder-container .founder-top {
    font-size: 26px !important;
    padding-top: 35px !important;
  }

  .founder-container .founder-tag {
    font-size: 16px !important;
    padding-left: 60px;
    padding-right: 30px;
  }

  .founder-container .bio-tag {
    font-size: 16px !important;
    padding-right: 40px;
    padding-left: 15px;
  }

  .founder-bottom {
    font-size: 14px !important;
  }
}

/* Body: END */

/* Footer: START */
footer {
  backdrop-filter: blur(39px);
  -webkit-backdrop-filter: blur(39px);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

footer div.page-links div:not(.contacts) a {
  text-decoration: none;
}

footer div.page-links div:not(.contacts) a:hover {
  color: #0056b3 !important;
}

footer .footer-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

@media (max-width: 992px) {
  .mt-lg-4 {
    margin-top: 2rem !important;
  }

  .responsive-margin-right {
    margin-right: 6rem !important;
  }
}

footer .footer-bottom {
  font-size: 14px;
  background-color: #020d1a;
}

footer .footer-bottom .container .col {
  padding-right: 15px;
  padding-left: 15px;
}
/* Footer: END */

/* Chatbot: START */

.chatbot-container {
  position: fixed;
  bottom: 50px;
  right: 8rem;
}

.chatbot-btn {
  background: rgba(255, 255, 255, 0.6) 0% 0% no-repeat padding-box;
  border-radius: 5px;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.cross-icon {
  display: none;
}

.chat-area {
  opacity: 0;
  transition: all 0.4s;
}

.chatbot-clicked .cross-icon {
  display: block;
}

.chatbot-clicked .chat-area {
  opacity: 1;
}

.chatbot-clicked .chat-icon {
  display: none;
}

.chat-area {
  background: rgba(255, 255, 255, 0.6) 0% 0% no-repeat padding-box;
  border-radius: 5px;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  width: 300px;
}

.chat-area .logo {
  background-color: #082847;
  border-radius: 50%;
  padding: 2px;
  height: 35px;
  width: 35px;
}

.chat-area .logo img {
  border-radius: 50%;
  object-fit: contain;
  height: 30px;
  width: 30px;
}

.chat-area .msg {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 2px;
}

.chat-area .section {
  margin-bottom: 200px;
}

.chat-area .typing-area {
  position: relative;
}

.chat-area .typing-area input {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 2px;
  border: none;
  outline: none;
  line-height: 40px;
}

.chat-area .typing-area img {
  position: absolute;
  top: 13px;
  right: 20px;
  color: #9ca9b5;
  height: 15px;
  width: 15px;
  cursor: pointer;
}

/* Chatbot: END */
